@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&family=Lato&family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  font-family: 'Poppins' ,sans-serif;
  background:  linear-gradient(to left , #0dcf41 , #044a19);

}

h1{
  font-size: 35px;
  text-align: center;

}

p{
  font-size: 15px;
  text-align: center;
  font-weight: bold;

}

ul{
  list-style: none;
  display: flex;
  gap:40px;
  font-size: 20px;
  background-color: rgb(6, 167, 6);
  border-width: 200px;

}
a{
  text-decoration: none;
  display: inline-block;
}
.hover-links{
  color: white;
}
.hover-links:hover{
  color: black;
  transition: 0.2s ease-out;
}
.box{
  background-size: cover;
  background-position: top;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  background-blend-mode: hard-light;
  transition: all 1s ease-in-out;
}


.gallery{
  flex-basis: 50%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3 , 1fr);
  grid-auto-rows: 120px;
  
}
.box:hover{
  background-color: #999;
  background-position: center;
  box-shadow:  0 0 4px #fff;
  

}

@media screen and (max-width: 1024px) {
  .container{
      flex-direction: column;
      padding-block: 20px;

  }
  .gallery{
      width: 100%;
      grid-auto-rows: 220px;
      padding-inline: 12px;
  }
  .box{
      grid-row: span 1;
      grid-column: span 3;

  }
}